@page
@model IndexModel
@{
    ViewData["Title"] = "Recipendium";
}

<div class="text-center">
    <h1 class="display-4">Recipendium</h1>
    <p>An app to make finding recipes on the internet easier.</p>
</div>
