@page
@model Recipendium.UI.Pages.JustRecipeSearchModel
@{
        ViewData["Title"] = "JustRecipeSearch";
}

<div class="text-center">
    <h1 class="display-4">Just Recipe Search</h1>
    <p>Search for recipes and ignore all of the blog posts and stories. Get just the recipes!</p>
</div>

<input type="search" />
